@import url('https://fonts.googleapis.com/css?family=Poppins');
$green : #9ec862;
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #7bdaf3;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
  width: 100vw;
  #addNote{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: $green;
    border: none;
    padding: .5rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 2px 2px #0000004d;
    &:focus{
      outline: none;
    }
    &:active{
      opacity: .95;
      transform: scale(.98);
    }
    i{
      margin-right: .25rem;
    }
  }
  
  .note{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    width: 400px;
    .setting{
      width: 100%;
      height: 40px;
      background-color: $green;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      i{
        margin-right: .5rem;
        cursor: pointer;
        font-size: 1.2rem;
        color:#fff;
      }
    }
    .noteText{
      font-size: 1.2rem;
      height: 360px;
      width: 100%;
      padding: 20px;
    }
    .textarea{
      font-size: 1.2rem;
      outline: none;
      border: none;
      padding: 20px;
      font-size: 1.2rem;
      height: 360px;
      width: 100%;
      resize: none;
    }
    .hidden{
      display: none;
    }
  }
}