@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans',sans-serif;
  height: 100vh;
  main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .left-group{
      width: 35%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
       transition: transform 0.5s ease-in-out;
      div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:#fff;
        h1{
          font-size: 40px;
          margin-bottom: 10px;
          margin-top: -30px;
        }
      }
      .red{
        background-color: #FD3555;
      }
      .blue{
        background-color: #2A86BA;
      }
      .black{
        background-color: #252E33;
      }
      .orange{
        background-color: #FFB866;
      }
    }
    .right-group{
      height: 100%;
      position: absolute;
      top: 0%;
      left: 35%;
      width: 65%;
      transition: transform 0.5s ease-in-out;
      div{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
      }
    }
    .btn-group{
      button{
        background-color: #fff;
        border:none;
        color: #aaa;
        cursor: pointer;
        font-size:16px;
        padding: 15px;
        position: absolute;
        left: 35%;
        top: 50%;
        z-index: 999;
        &:hover{
          color: #222;
        }
        &:focus{
          outline:none;
        }
      }
      .downBtn{
        transform: translateX(-100%);
        border-radius: 5px 0 0 5px;
      }
      .upBtn{
        transform: translateY(-100%);
        border-radius: 0 5px 5px 0 ;
      }
    }
  }
}